  {
       "serviceName": "helloworld-service",
       "containers": {
          "$IMAGE": {
             "image": "$SVC_IMG",
             "ports": {
                "80": "HTTP"
             }
          }
      },
      "publicEndpoint": {
         "containerName": "$IMAGE",
         "containerPort": 80
      }
   }
